*{
  font-family: 'Nunito', sans-serif;
}

.wrapper{
  text-align: center;
}

.graphWrapper{
  text-align: center;
}

.no-legend{
  display: none;
}

.form{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
